@import '~antd/dist/antd.css';
.ant-drawer-wrapper-body {
  background-color: #3a3a3a;
}
.ant-drawer-body {
  background-color: #3a3a3a;
}
.ant-drawer-header {
  background-color: #3a3a3a;
}
.ant-drawer-title {
  color: #cecece;
}
.ant-drawer-close {
  color: #cecece;
}
.ant-drawer-mask {
  background-color: rgba(0, 0, 0, 0.6);
}
.ant-menu-item a {
  color: #cecece;
}
.ant-menu-item-selected > a {
  color: #333333;
}
.top_slide h1 {
  color: #000;
  font-size: 36px;
  margin: 0;
  padding: 0;
  line-height: 40px;
}
.top_slide h2 {
  font-size: 20px;
  color: #939598;
  margin: 0;
  padding-left: 10px;
  line-height: 40px;
  font-weight: 300;
}
.contacts_iconGit {
  color: #939598;
  padding: 5px 7px;
  border: 1px solid #939598;
  border-radius: 3px;
  margin-right: 10px;
}
.contacts_iconGit:hover {
  color: fff;
  padding: 5px 7px;
  border: 1px solid #1890ff;
}
.contacts_iconMail {
  color: #939598;
  padding: 5px 7px;
  border-radius: 3px;
  border: 1px solid #939598;
}
.contacts_iconMail:hover {
  color: fff;
  padding: 5px 7px;
  border: 1px solid #1890ff;
}
