@import '~antd/dist/antd.css';

.top_slide h1 {
  color: #000;
  font-size: 36px;
  margin: 0;
  padding: 0;
  line-height: 40px;
}
.top_slide h2 {
  font-size: 20px;
  color: #939598;
  margin: 0;
  padding-left: 10px;
  line-height: 40px;
  font-weight: 300;
}
