*{
    padding: 0;
    margin: 0;
}
body {
    /*font-family: 'Roboto', sans-serif; */
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: 16px;
        color: #5e5e5e;
}
.container {
	width: 70%;
	margin: 0 auto; 
}

.catalog-list {
	display: grid;
	grid-template-columns: 30% 30% 30%;
	grid-gap: 20px;
}
.product-item {
	background-color: #f9f9f9;
	box-shadow: 0 5px 10px 10px #f2f2f2;
	padding: 10px;
	display: grid;
	justify-items: center;
}
.product-item__img {
	max-width: 100%;
	height: 250px;	
	margin-bottom: 20px;
}
.product-item__title {
	font-size: 24px;
	font-weight: 700;
	color: #7ebcf0;
	margin-bottom: 5px;
}
.product-item__description {
	margin-bottom: 15px;
}
.product-item__price{
	margin-bottom: 5px;
}

.product-item__price__new {
	display: inline;
	color: #424040;
}
.product-item__price__old {
	display: inline;
	margin-left: 5px;
	color: #f52415;
}
.product-item__available {
	color: #45a14a;
}
.product-item__notAvailable {
	color: #f52415;
}
.product-item__btn {
	width: 80%;
	padding: 10px;
	margin-top: 10px;
	background-color: transparent;
	border: 1px solid #7ebcf0;

}
.product-item__btn:hover {
 opacity: 0.6;
}







@media screen and ( max-width: 1200px) {
    .catalog-list {
		grid-template-columns: 45% 45%;		
	}
}
@media screen and ( max-width: 600px) {
    .catalog-list {
		grid-template-columns: auto;		
	}
}	