.navbar img {
    height: 50px;
}

h2 {
	border-bottom: 3px solid  #17a2b8;
}

li {
	border-bottom: 3px solid #17a2b8;
}

li:hover {
	border-bottom: 3px solid  #ffffff;
}

.about_us,
.wi-do {
    background-color: #e6e3e3;
} 
.card img {
    object-fit: contain;
}
