* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.taskForm {
  padding: 10px 20px 20px 20px;
}
.tasks_list_form {
  display: inline;
}
.tasks_list_item {
  display: inline;
  margin-left: 10px;
}
.tasks_list_button {
  margin-bottom: 10px;
  padding: 0 5px;
}
