.block {
	width: 60%;
	margin: 0 auto;
}
.btn1 {
	margin: 10px 0;
}
.block2 {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.article {	
	margin-bottom: 20px;
	padding: 5px 10px;
	box-shadow: 0 5px 10px 2px #D6D9E1;
	border-radius: 3px;
	width: 30%;
	display: flex;
	flex-direction: column;
    justify-content: space-between;  
}
.author {
	color: #b2b2b2;

}
.article img {
	width: 100%;
	height: 200px;
	object-fit: cover;
}