.container {
	width: 65%;
	margin: 0 auto;
}
.request-section__btn {
	margin: 10px 0;
}
.article-section {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.article-section a {
	text-decoration: none;
	width: 30%;
	display: flex;
}
.article {	
	margin-bottom: 30px;
	padding: 5px 10px;
	box-shadow: 0 5px 10px 2px #D6D9E1;
	border-radius: 3px;
	display: flex;
	flex-direction: column;
    justify-content: flex-start;
	transition-duration: 0.2s;
}
.article:hover {
	transform: scale(1.02);
	transition-duration: 0.2s;
	opacity: 0.9;
}
.article__author {
	color: #b2b2b2;
	align-self: flex-end;

}
.article__content {
	color: black;
}
.article__title{
	color: black;
	font-weight: bold;
}
.article__img {
	width: 100%;
	height: 200px;
	object-fit: cover;
}