@import '~antd/dist/antd.css';
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header  {
  padding: 15px;
  display: flex;
  justify-content: flex-end;
}
.form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-gap: 10px;
}
.menu {
  display: none;
}

@media screen and ( max-width: 500px) {
  .tel {
    display:none;
  }
  .menu {
    display: block;
  }
}